body {
    background-image: url(content/Portfolie_baggrund2.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#first_section {
    height: 150px;
    width: auto;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

#second_section {
    margin: 0px 0 50px 0;
}


.col_text {
    background-color: #262626;
    padding: 10px;
    margin-bottom: 50px;
}

.col_text h2 {
    margin-top: 0px;
    border-bottom: solid 2px white;
}


#third_section {
    background-color: #262626;
    padding-bottom: 75px;
}

#third_section .section_wrapper img {
    display: grid;
    margin-top: 50px;
}





@media (min-width:600px) {
    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4vw;
        overflow: auto;
    }



}

@media (min-width:800px) {
    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 4vw;
    }

    #second_section .section_wrapper img {
        margin-top: 60px;
        margin-bottom: 50px;
        width: auto;
        height: auto;
        filter: opacity(0.8);
    }

    #second_section .section_wrapper .col_img {
        display: flex;
        overflow: hidden;
    }
}

@media (min-width:1200px) {
    #second_section .section_wrapper {
        grid-template-columns: 3fr 3fr;
    }

}
