h1 {
    margin-bottom: 0;
    border-bottom: solid 2px white;
}

h3 {
    margin-top: 100px;
    margin-bottom: 0;
    border-bottom: solid 2px white;

}

a {
    color: #ffadf2;
}

#first_section .section_wrapper .col {
    margin-bottom: 8vh;
}

@media (min-width:800px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5vw;
    }

    #first_section .section_wrapper .col img {
        margin-top: -98px;
    }

    h1 {

        width: 65%
    }
}
