body {
    background-image: url(content/forside_bagrund.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** {

    box-sizing: border-box;
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
}

.parallax__layer img {
    display: block;
    position: absolute;
    top: 0px;
    height: auto;
    overflow-y: hidden;
}

.parallax__cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.parallax__layer__0 {
    transform: translateZ(-100px) scale(2);
}*/


#first_section {
    height: 80vw;
}

#first_section .section_wrapper {
    position: relative;
    height: 82vw;
    width: auto;
}

.bottomright {
    position: absolute;
    float: right;
    bottom: -32px;
    right: 0;
}

.topleft {}

#second_section {
    height: 250px;
    width: auto;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

#third_section h2 {
    border-bottom: solid 2px white;
}

#third_section .section_wrapper img {
    filter: grayscale(100%);
    transition: 0.4s;
    opacity: 0.8;
    padding-top: 50px;
    margin-bottom: 100px;
}

#third_section .section_wrapper img:hover {
    filter: grayscale(0);
    opacity: 1;

}


#fourth_section {
    background-color: #262626;
    padding-bottom: 75px;
}

#fourth_section .section_wrapper img {

    display: grid;
    margin-top: 50px;
}

#fifth_section h2 {
    border-bottom: solid 2px white;

}

#fifth_section .section_wrapper img {
    display: grid;
    margin-top: 50px;
    filter: grayscale(100%);
    transition: 0.4s;
    opacity: 0.8;

}

#fifth_section .section_wrapper img:hover {
    filter: grayscale(0);
    opacity: 1;

}




@media (min-width:600px) {



    #third_section .section_wrapper img {
        padding-top: 15px;
        margin-bottom: 0;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4vw;
        overflow: auto;
    }

    #third_section .section_wrapper p {
        font-size: 22px;
        font-weight: 400;
    }


    #fifth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5vw;
    }


}



@media (min-width:800px) {
    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 4vw;
    }

    #third_section .section_wrapper img {
        width: auto;
        height: auto;
    }

    #third_section .section_wrapper .col_img {
        display: flex;
        overflow: hidden;
        text-align: right;

    }
}

@media (min-width:1200px) {
    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: 4vw;
    }

    #first_section h1 {
        font-size: 5rem;
    }
}
