body {
    background-image: url(content/masasolo_spot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first_section {
    height: 150px;
    width: auto;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

h2 {
    margin: 0;
}

#second_section .section_wrapper img {
    display: grid;
    margin-top: 50px;
    filter: grayscale(100%);
    transition: 0.4s;
    opacity: 0.8;

}

#second_section .section_wrapper img:hover {
    filter: grayscale(0);
    opacity: 1;

}

.portfolio_billed {
    overflow: hidden;
    position: relative;

}

.text_block {
    position: absolute;
    background-color: rgba(137, 0, 90, 0.67);
    text-align: center;
    padding: 0 8px 0 8px;
    right: 0;
    left: 0;
    bottom: -10vw;
    transition: 0.4s;
    opacity: 0;
}

.portfolio_billed:hover .text_block {
    bottom: 0px;
    pointer-events: none;
    opacity: 1;

}

@media (min-width:600px) {
    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5vw;
    }
}
