@media (min-width:1200px) {

    section img {
        padding-top: 0;
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 10fr 10fr;
        grid-column-gap: 2vw;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 10fr 12fr;
        grid-column-gap: 4vw;
    }

    #fourth_section .section_wrapper .col_img video {
        width: 100%;
    }


    .overskrift_left {
        max-width: 48%;
    }

    .overskrift_right {
        max-width: 100%;
        margin-left: 48%;
    }
}
