@media (min-width:600px) {

    #third_section .col_img {
        display: grid;
        grid-template-columns: 10fr 3.5fr;
        grid-column-gap: 4vw;
    }
}

@media (min-width:1200px) {
    #third_section .col_img {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8vw;
    }

    .overskrift_left {
        max-width: 48%;
    }

    .overskrift_right {
        max-width: 100%;
        margin-left: 49%;
    }
}
