#first_section img {
    width: 9vw;
    float: right;
    padding: 10px;
    max-width: 60px;
}

#first_section {

    height: 90px;
}

#second_section {
    background-color: black;
    list-style-type: armenian;
}

section img {
    padding-top: 10px;
}

#second_section h1 {
    margin: 10px 0 5px 0;
}


h2 {
    border-bottom: solid 2px white;
    margin-top: 10px;
}

section h4 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

#second_section h4 {
    margin-bottom: 15px;
}

section p {
    margin-top: 0;
}

.col_text {
    padding-bottom: 50px;
}

a h4 {
    color: deeppink;
    text-decoration: none;
}

.afsnit_streg {
    border-top: solid 2px white;
    padding-top: 10px;
}







.tool_list {
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 10px;
}



@media (min-width:600px) {}

@media (min-width:800px) {
    section {
        padding-right: 10vw;
        padding-left: 10vw;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #second_section .section_wrapper .col:nth-child(1) {
        border-right: solid 2px white;
        margin-right: 20px;
        padding-right: 20px
    }


}





@media (min-width:1200px) {



    #first_section img {
        width: auto;

    }
}
